<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginValidate</servlet-name>
        <servlet-class>admin.LoginValidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>student.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AChangePassword</servlet-name>
        <servlet-class>admin.AChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SChangePassword</servlet-name>
        <servlet-class>student.SChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestion</servlet-name>
        <servlet-class>admin.AddQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuestion</servlet-name>
        <servlet-class>admin.UpdateQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestion</servlet-name>
        <servlet-class>admin.DeleteQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>student.DeleteAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginValidate</servlet-name>
        <url-pattern>/LoginValidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AChangePassword</servlet-name>
        <url-pattern>/AChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SChangePassword</servlet-name>
        <url-pattern>/SChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestion</servlet-name>
        <url-pattern>/AddQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuestion</servlet-name>
        <url-pattern>/UpdateQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuestion</servlet-name>
        <url-pattern>/DeleteQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/DeleteAccount</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
